BOT_TOKEN=replace_with_token_from_botfather
TZ=replace_with_iana_timezone
DB_PATH=meds.sqlite3
NAG_INTERVAL_MINUTES=30
SESSION_RETENTION_DAYS=30
PENDING_RESTORE_HOURS=24
RATE_LIMIT_CAPACITY=8
RATE_LIMIT_REFILL_SECONDS=3
